a{
  text-decoration: none;
}
.main-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
main {
  /* padding: 10px; */
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}