/* Sidebar */

.sidebar {
  background: #2b3035;
  /* background: rgb(0, 7, 61); */
  color: white;
  min-height: 100vh;

  /* overflow-y: auto; */

  /* min-height: 100%; */
}
.sidebar_open {
  background: #2b3035;
  /* background: rgb(0, 7, 61); */
  color: white;
  min-height: 100vh;

  /* overflow-y: auto; */

  /* min-height: 100%; */
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-top: 12px;
}
.logo {
  font-size: 18px;

  line-height: 0;
  display: flex;
  align-items: center;
}
.bars {
  width: 30px;
  color: #fff;
}
.hide {
  display: none;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  position: sticky;
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

@media only screen and (max-width: 650px) {
  .sidebar_open {
    /* position: absolute; */
    position: absolute;
    z-index: 999;
    min-height: 100vh;
  }
}

/* add some code */

/* Add this to your sidebar.css file */
/* Add this to your sidebar.css file */

.bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 21px;
  cursor: pointer;
  position: relative;
  color: #fff;
  opacity: 2 !important;
}

.link_text.active {
  /* Add your custom styles for active links here */
  background-color: yellow;
  color: black;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transition: transform 0.3s, opacity 0.3s;
}

.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.bar:nth-child(3) {
  bottom: 0;
}

.sidebar_open .bar:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.sidebar_open .bar:nth-child(2) {
  opacity: 0;
}

.sidebar_open .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}
